node_modules
.vscode
.env
.idea/
src/assets/admin/
src/assets/aero1Sources/
src/assets/aero2Sources/
src/assets/aero3Sources/
src/assets/json/
dist/
coverage/

verification.log
security.log
error.log
*.log